In [24]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O 

# read in the San Francisco building permits data
wow = pd.read_csv("wonders_of_world.csv")

# set seed for reproducibility
np.random.seed(0)

In [25]:
wow.sample(5)

                        Name  ... Build in year
28       Great Wall of China  ...        700 BC
11            Channel Tunnel  ...          1988
10                  CN Tower  ...          1973
41    London sewerage system  ...          1858
2   Lighthouse of Alexandria  ...        280 BC

[5 rows x 8 columns]

In [26]:
# Calculate total number of cells in dataframe
totalCells = np.product(wow.shape)

# Count number of missing values per column
missingCount = wow.isnull().sum()

# Calculate total number of missing values
totalMissing = missingCount.sum()

# Calculate percentage of missing values
print("The Wonders of World Dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

The Wonders of World Dataset contains 2.75 % missing values.

In [27]:
missingCount[['Name','Type','Latitude','Longitude','Location','Wikipedia link','Picture link','Build in year']]

Name               0
Type               0
Latitude           0
Longitude          0
Location           0
Wikipedia link     0
Picture link       0
Build in year     11
dtype: int64

In [28]:
print("Percentage of missing data in Build in year column =", (round(((missingCount['Build in year'] / wow.shape[0]) * 100), 2)))

Percentage of missing data in Build in year column = 22.0

In [29]:
wow.dropna()

                               Name  ... Build in year
0             Great Pyramid of Giza  ...       2560 BC
1                        Stonehenge  ...       2400 BC
2          Lighthouse of Alexandria  ...        280 BC
3        Hanging Gardens of Babylon  ...        600 BC
4                      Hagia Sophia  ...       537  AD
5                Colossus of Rhodes  ...        292 BC
6        Mausoleum at Halicarnassus  ...        353 BC
7         Statue of Zeus at Olympia  ...        466 BC
8      Temple of Artemis at Ephesus  ...       550 BCE
9                Golden Gate Bridge  ...          1933
10                         CN Tower  ...          1973
11                   Channel Tunnel  ...          1988
12    Delta Works (Zuiderzee Works)  ...          1986
13                     Panama Canal  ...          1881
14            Empire State Building  ...          1930
15                       Itaipu Dam  ...          1971
16      Catacombs of Kom el Shoqafa  ...        215 AD
17              Great Wall of China  ...        700 BC
18                        Colosseum  ...         80 AD
19                     Chichen Itza  ...        600 AD
20            Leaning Tower of Pisa  ...          1173
21       Porcelain Tower of Nanjing  ...          1412
22                     Machu Picchu  ...       1450 AD
23     Christ the Redeemer (statue)  ...          1922
24                        Colosseum  ...         80 AD
25            Great Pyramid of Giza  ...       2560 BC
26                            Petra  ...        312 BC
27                        Taj Mahal  ...       1643 AD
28              Great Wall of China  ...        700 BC
36                       Hoover Dam  ...          1931
37                     Panama Canal  ...          1881
38                  Brooklyn Bridge  ...          1869
39             Bell Rock Lighthouse  ...          1807
40                 SS Great Eastern  ...          1858
41           London sewerage system  ...          1858
42  First Transcontinental Railroad  ...          1869
43                Maya civilization  ...       2600 BC
48                      Maasai Mara  ...          1961
49                    Potala Palace  ...          1645

[39 rows x 8 columns]

In [30]:
wowCleanCols = wow.dropna(axis=1)
wowCleanCols.head()

                         Name  ...                                       Picture link
0       Great Pyramid of Giza  ...  http://upload.wikimedia.org/wikipedia/commons/...
1                  Stonehenge  ...  http://upload.wikimedia.org/wikipedia/commons/...
2    Lighthouse of Alexandria  ...  http://upload.wikimedia.org/wikipedia/commons/...
3  Hanging Gardens of Babylon  ...  http://upload.wikimedia.org/wikipedia/commons/...
4                Hagia Sophia  ...  http://upload.wikimedia.org/wikipedia/commons/...

[5 rows x 7 columns]

In [32]:
print("Columns in original dataset: %d \n" % wow.shape[1])
print("Columns with NA's dropped: %d" % wowCleanCols.shape[1])

Columns in original dataset: 8

Columns with NA's dropped: 7